<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>View All Contacts</title>
	</head>
	<body>
		<h1>Contacts</h1>
		<% @contacts.each do |contact| %>
			<ul>
				<li>
					<span class="glyphicons glyphicons-user">
					<a href="/contacts/<%= contact.id %>">
						<%= contact.first_name %>
						<%= contact.last_name %>
					</a>
					</span>
				</li>
			</ul>
		<% end %>
	</body>
</html>