<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= @title %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/contacts">View Contacts</a></li>
			<li><a href="/contacts/new_contact">Add New Contact</a></li>
		</ul>
	</nav>

	<%= yield %>

	<footer>Copyright &copy; 2015 - Lauran Jansen</footer>
</body>
</html>