body {
	width: 800px;
	margin: auto;
}

.input-group {
	padding: 5px;
}
.form-control {
	border-color: #337ab7;
}

.input-group-addon {
	min-width: 100px;
	text-align: left;
	color: #FFFFFF;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.contact_button {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

footer {
	margin: 50px;
	text-align: center;
	clear: both;
}

ul {
	list-style-type: none;
}

/*
fieldset {
	width: 500px;
}
legend {
	font-size: 20px;
}
label {
	text-align: right;
	width: 100px;
	float: left;
	font-weight: bold;
	padding-right: 5px;
}
input.textbox {
	width: 300px;
	float: left;
}
input.button {
	margin: 5px;
	float: right;
}
fieldset p {
	clear: both;
	padding: 5px;
}*/